body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width:100%;
    min-width: 320px;
    max-width: 1920px;
    background-color: #eff2f7;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.Page{
    animation: fadeIn 1000ms;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    margin-top: 100px;
    width:100%;
    min-width: 320px;
    max-width: 1920px;
    text-align: center;
    position: absolute;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.questionContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    margin-top: 100px;
    width:100%;
    min-width: 320px;
    max-width: 1920px;
    text-align: center;
    position: absolute;
}

.fade-appear {
    opacity: 0;
    z-index: 1;
}
.fade-appear.fade-appear-active {
  opacity: 1;
  transition: opacity 500ms linear 500ms;
}

/* enter */
.fade-enter {
    opacity: 0;
    z-index: 1;
}
.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 300ms linear 300ms;
}

/* exit */
.fade-exit {
    opacity: 1;
    z-index: 0;
    cursor: progress;
}
.fade-exit.fade-exit-active {
    opacity: 0;
    transition: opacity 200ms linear 200ms;
}
.fade-exit-done {
opacity: 0;
}


.heading1 {
    color: #3a7859;
}

.heading2 {
    margin-top: 5%;
    color: #354153;
}

.DifficultyLevel{
    position:relative;
    margin: 0;
    text-align: center;
    color: #ffffff;
    border-radius: 9px 0px 9px 9px;
    width: 70px;
    font-size: 0.9em;
    height: 1.6em;
    align-self: center;
}

/* .ControllButton{
    min-width: 120px;
    min-height: 40px;
    color: #ffffff;
    background-color: #3a7859;
    border-radius: 15px 15px 15px 15px;
    border: none;
    align-self: center;
    color: #40f149
}

.ControllButton:hover{
    background-color: #2d6a4c;
}

.ControllButton:disabled{
    background-color: #93b4a4;
} */

.MuiOutlinedInput-root{
    background-color: #f6f7f8 !important;
    color: #354153 !important;
}

/* menu container */
.MuiList-root{
    background-color: #f6f7f8;
    border-radius: 17px !important;
}

/* items menu  */
.MuiPaper-root{ 
    background-color: #f6f7f8 !important;
    border-radius: 17px !important;
    padding: 0px 8px 0px 8px !important;
}

/* menu item */
.MuiMenuItem-root{
    background-color: #f6f7f8 !important;
    padding-left: 10px !important;
    border-radius: 15px !important;
    transition: 500ms ease-in-out;
    color: #354153 !important;
}

.MuiMenuItem-root:hover{
    background-color: #e7ebf1 !important;
    border-radius: 15px;
    color:#3a7859 !important;
}

.MuiMenuItem-root.Mui-disabled{
    opacity: 1 !important;
}

.MuiButtonBase-root.Mui-disabled:hover{
    background-color: #e7ebf1 !important;
    border-radius: 15px;
    color:#3a7859 !important;
}

.MuiOutlinedInput-notchedOutline{
    border: 2px solid #e7ebf1!important;
}

/* 
.MuiOutlinedInput-notchedOutline:active{
    border: 4px solid red !important;
} */


